.left-section{
    height: 94vh;
    border-radius: 8px;
    box-shadow: #64646f33 0px 7px 29px 0px;
    padding: 5px 2px 15px 2px;
    margin: 5px 5px 5px 10px;
    flex-basis: 7%;
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    background-color: var(--body-background);
}
.left-section .upper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-section .lower{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-section .lower .icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-section .lower .icon-container span{
    color: var(--icon-color);
    font-size: 8px;
    cursor: pointer;
}
.left-section .lower .nav-icons{
    color: var(--icon-color);
    cursor: pointer;
    padding: 12px 0px 2px 0px;
    margin-top: 2px;
}