* {
  margin: 0;
  transition: all 0.3s ease-in-out;
}

:root{
  --body-background: #ffffff;
  --heading-color:#60519e;
  --subheading-color:#808080;
  --icon-color:#60519e;
}

[data-theme="dark"]{  
  --body-background: #352F44;
  --heading-color:#ffffff;
  --subheading-color:#e2e2e2;
  --icon-color: #ffffff;
}
