.profile-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--body-background);
    padding: 20px;
    border-radius: 8px;
    outline: none;
    width: 30%;
}
.profile-modal h2 {
    margin-bottom: 10px;
    text-align: center;
    color: var(--heading-color);
}
.profile-modal h4 {
    margin-bottom: 8px;
    text-align: left;
    color: var(--subheading-color);
    font-size: 1rem;
    padding: 0px 10px 0px 10px;
}
.profile-modal p {
    margin-bottom: 8px;
    text-align: center;
    color: var(--subheading-color);
    font-size: 0.9rem;
    padding: 0px 10px 0px 10px;
}
.profile-modal .logout-btn {
    background: #1877f2;
    border: none;
    color: #fff;
    font-size: 1rem;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 1rem 0;
    padding: 0.5rem 0.3rem;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}
.profile-modal .center-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon{
    color:var(--icon-color);
    cursor: pointer;
    padding: 12px 0px 2px 0px;
    margin-top: 2px;
}